<div class="container">

  <div class="jumbotron text-center">
    <form>
      <label for="login.credential.username">Usuário</label>
      <input type="text" ng-model="login.credential.username">
      <label for="login.credential.password">Senha</label>
      <input type="password" ng-model="login.credential.password">
      <input type="button" ng-click="login.doLogin()" value="Entrar">
  </div>
</div>