<div class="container">

  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo! {{main.credential.data.firstName}}</h1>
    <p class="lead">
      <img src="assets/images/giphy.gif" alt="Hello..."><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <input type="button" value="Logoff" ng-click="main.logoff()">
  </div>
</div>
